@using BountyHunters.Web.ViewModels
@model IEnumerable<BountyHunters.Web.ViewModels.BountyHunter.BountyHunterInputModel>


<h1>Bounty Hunters</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Bio</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var hunter in Model)
    {
        <tr>
            <td>@hunter.Name</td>
            <td>@hunter.Rank</td>
            <td>@hunter.Bio</td>
            <td>
                <a asp-action="Details" asp-route-id="@hunter.Id" class="btn btn-info">Details</a>
                <a asp-action="UpdateProfile" asp-route-id="@hunter.Id" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Bounty Hunter</a>